<!-- 
<div>
    <app-loginnav></app-loginnav>  
     <app-smalllogin></app-smalllogin>
     <app-smalllogin
  [titleText]="'Welcome back'"
  [descriptionText]="'Login to your account'"
  [emailLabel]="'Your email address'"
  [passwordLabel]="'Your password'"
  [accountText]="''"
  [createAccountText]="''">
</app-smalllogin>

     <app-speedotransferlogin></app-speedotransferlogin>
  
  </div> -->



  <app-smalllogin
  [titleText]="'Welcome back'"
  [descriptionText]="'Login to your account'"
  [emailLabel]="'Your email address'"
  [passwordLabel]="'Your password'"
  [accountText]="''"
  [createAccountText]="''">
</app-smalllogin> 

