<div class="container">
    <div class="upper-half">
      <div class="item">
        <div class="circle">
          <span class="circle-text">01</span>
        </div>
        <div class="line"></div>
      </div>
      <div class="item">
        <div class="circle">
          <span class="circle-text">02</span>
        </div>
        <div class="line"></div>
      </div>
      <div class="item">
        <div class="circle">
          <span class="circle-text">03</span>
        </div>
      </div>
    </div>
    <div class="bottom-half">
      <div class="text-item">
        <p>Amount</p>
      </div>
      <div class="text-item">
        <p>Confirmation</p>
      </div>
      <div class="text-item">
        <p>Payment</p>
      </div>
    </div>
  </div>