.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  
    .upper-half {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 16px;
  
      .item {
        display: flex;
        align-items: center;
  
        &:not(:last-child) {
          margin-right: 16px;
        }
  
        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          background-color: #FFFFFF;
          border: 2px solid #871E35;
          
          position: relative;
  
          .circle-text {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #871E35;
            line-height: 30px;
            // text-align: center;

          }
        }
  
        .line {
          width: 60px;
          height: 2px;
          background-color: #871E35;
          margin-left: 8px;
          margin-right: 8px;
          position: relative;
        }
      }
    }
  
    .bottom-half {
      display: flex;
      justify-content: center;
      width: 100%;
  
      .text-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 37px;
  
        p {
            font-family: Inter;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: center;
             margin: 0;

        }
      }
    }
  }