<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="mobile-app-section">
    <!-- Inside Container -->
    <div class="mobile-app-container">
      
      <!-- X Container -->
      <div class="container-x">
        <!-- Image Container inside X -->
        <div class="image-container-x">
          <!-- Background Image -->
          <!-- No additional content needed, as the background is set in CSS -->
        </div>
      </div>
      
      <!-- Y Container -->
      <div class="container-y">
        <!-- Container A -->
        <div class="container-a">
          <!-- Header and Text inside Container A -->
          <div class="container-a-header-text">
            <p class="text-mobile-app">Mobile Application</p>
            <h2 class="header-download-app">Download our apps on your mobile phone for service</h2>
          </div>
        </div>
  
        <!-- Container B -->
        <div class="container-b">
          <p class="text-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
          </p>
        </div>
  
        <!-- List Container -->
        <div class="list-container">
          <!-- List Item -->
          <div class="list-item">
            <div class="list-item-background">
              <div class="list-item-icon"></div>
            </div>
            <p class="list-item-text">Lorem Ipsum is simply dummy</p>
          </div>
          <div class="list-item">
            <div class="list-item-background">
              <div class="list-item-icon"></div>
            </div>
            <p class="list-item-text">Lorem Ipsum is simply dummy</p>
          </div>
          <div class="list-item">
            <div class="list-item-background">
              <div class="list-item-icon"></div>
            </div>
            <p class="list-item-text">Lorem Ipsum is simply dummy</p>
          </div>
        </div>
  
        <!-- Frame for App Store Links -->
        <div class="app-download-frame">
          <a href="https://apps.apple.com" class="app-link app-store">
            <!-- Background Image for Apple Store Button -->
          </a>
          <a href="https://play.google.com" class="app-link google-play">
            <!-- Background Image for Google Play Button -->
          </a>
        </div>
      </div>
  
    </div>
  </div>
