<div class="background-container">
  <div class="content-frame">
    <p class="simple-text">Simple. Quick. Secure.</p>
    <h1 class="main-heading">Send Money Anywhere, Instantly</h1>
    <p class="description">
      Fast, secure, and affordable international money transfers. Get started in minutes.
    </p>
    <button class="cta-button">Create An Account</button>
  </div>

  <!-- New Container Starts Here -->
   <form action="">
  <div class="small-container">
    <div class="frame current-balance-frame">
      <p class="current-balance-text">Current Balance</p>
      <h2 class="balance-amount">10000 EGP</h2>
    </div>

    <div class="frame send-amount-frame">
      <p class="send-amount-text">Send Amount</p>
      <input type="number" class="input-amount" placeholder="10000" />
    </div>

    <div class="frame delivery-time-frame">
      <p class="delivery-time-text">Delivery Time: By May 20th</p>
    </div>

    <app-custom-button 
  text="Continue"
  width="417px"
  backgroundColor="#871E35">
</app-custom-button>

    <p class="terms-text">
      By Clicking Continue, I’m agree with 
      <span class="terms-policy">Terms & Policy</span>
    </p>
    
  </div>
  </form>
  
</div>
