<!-- footer.component.html -->
<footer class="footer bg-dark text-white">
    <div class="container footer-container">
      <!-- Frame -->
      <div class="frame">
        <!-- First Container -->
        <div class="footer-content">
          <div class="footer-header">
            <h2>Speedo Transfer</h2>
          </div>
          <div class="footer-paragraph">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
  
        <!-- Second Container -->
        <div class="contact-info">
          <h3>Contact Info</h3>
          <div class="contact-details">
            <div class="contact-item">
              <span>Email:</span>
              <a href="mailto:BM00000&#64;SpeedoTransfer.com">BM00000&#64;SpeedoTransfer.com</a>
            </div>
            <div class="contact-item">
              <span>Phone:</span>
              <a>00000</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Horizontal Border -->
      <div class="footer-bottom text-center">
        <p>All Rights Reserved for Speedo Transfer ©2024</p>
      </div>
    </div>
  </footer>
