.footer {
  background-color:#521220;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  color: #ffffff;
}

/* Speedo Transfer Section */
.speedo-transfer-container {
  width: 273px;
  height: 71.23px;
  padding: 0 16px 0 0;
  opacity: 0;
  text-align: center;

  .speedo-transfer-text {
    width: 257px;
    height: 48px;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    opacity: 0;
    text-align: center;
  }
}

/* Description Section */
.description-container {
  width: 600px;
  height: 29.9px;
  padding: 0 0 0.9px 0;
  opacity: 0;
  text-align: center;

  p {
    width: 600px;
    height: 29px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    opacity: 0;
    text-align: center;
    margin: 0;
  }
}

/* Contact Info Section */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  h3 {
    width: 111px;
    height: 24px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin: 0;
  }

  .contact-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-container,
  .phone-container {
    display: flex;
    gap: 8px;
  }

  .email-label,
  .phone-label {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }

  .email-text,
  .phone-text {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}

/* Divider */
.footer-divider {
  width: 100%;
  border-top: 1px solid #CDD6E04D;
  margin: 20px 0;
}

/* Copyright Section */
.copyright {
  width: 365px;
  height: 24px;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
