<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Speedo Transfer</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="footer-section">
      <h3>Contact Info</h3>
      <p>Email: <a href="mailto:BM00000&#64;SpeedoTransfer.com">BM00000&#64;SpeedoTransfer.com</a> </p>
      <p>Phone: 00000</p>
    </div>
    <div class="footer-divider"></div>
    <div class="footer-section">
      <p>All Rights Reserved for Speedo Transfer ©2024</p>
    </div>
  </div>
</footer>
