<!-- <div class="page-container">
    <app-nav></app-nav>
    <app-shared-input
  [type]="'text'"
  [placeholder]="'Enter your name'"
  [width]="'300px'">
</app-shared-input>

<app-shared-input
  [type]="'email'"
  [placeholder]="'Enter your email'"
  [width]="'300px'">
</app-shared-input>

  
    <div class="page-content">
        <app-forum></app-forum>
>

    </div>

  </div>
   -->


   <!-- <app-login></app-login> -->
   <!-- <app-forum></app-forum>


   <app-application></app-application>
   <app-start></app-start>
    <app-footer></app-footer>
    <app-smalllogin></app-smalllogin> -->

    <!-- <app-firstpagelogin>
    </app-firstpagelogin>
   -->


    <!-- <app-firstpagelogin></app-firstpagelogin>
    <app-secondpagelogin></app-secondpagelogin>

    <app-thirdpagelogin></app-thirdpagelogin> -->
    <!-- <app-secondpagelogin></app-secondpagelogin>
    <app-thirdpagelogin></app-thirdpagelogin> -->





    

    <!-- <app-testt></app-testt> -->
    <!-- <app-step-three-money></app-step-three-money> -->
    <!-- <app-accountform></app-accountform> -->
    <!-- <app-thirdpagelogin></app-thirdpagelogin>
    <app-secondpagelogin></app-secondpagelogin>
    <app-firstpagelogin></app-firstpagelogin> -->

    



    <!-- <app-firstpagelogin></app-firstpagelogin>  -->


    
    <!-- <app-smalllogin></app-smalllogin> -->


<!-- <app-circles></app-circles>
    <app-step-one-money></app-step-one-money> -->

    <!-- <app-myprofle></app-myprofle> -->

<!-- <app-payment-history></app-payment-history> -->
<!-- <app-settings></app-settings> -->
<!-- <app-change-password></app-change-password> -->

<!-- <app-application></app-application>
<app-nav></app-nav>
<app-forum></app-forum>
<app-start></app-start>

<app-accountform></app-accountform>
<app-application></app-application>
<app-change-password></app-change-password>
<app-circles></app-circles>
<app-application></app-application>
<app-loginnav></app-loginnav>
<app-firstpagelogin></app-firstpagelogin>
<app-secondpagelogin></app-secondpagelogin>
<app-thirdpagelogin></app-thirdpagelogin>
<app-myprofle></app-myprofle>
<app-nav></app-nav>
<app-payment-history></app-payment-history>
<app-settings></app-settings>
<app-smalllogin></app-smalllogin>
<app-speedotransferlogin></app-speedotransferlogin>
<app-step-one-money></app-step-one-money>
<app-step-three-money></app-step-three-money>
<app-testt></app-testt>
<app-top-page-one-login></app-top-page-one-login>
<app-footer></app-footer> -->

<!-- <app-testt></app-testt> -->
<!-- <app-nav></app-nav> -->
<!-- <router-outlet></router-outlet> -->
 <!-- <app-home></app-home> -->
 <!-- <app-home2></app-home2> -->
 <!-- <app-home3></app-home3> -->
  <!-- <app-circles></app-circles>
 <app-step-one-money></app-step-one-money> -->

<!-- <app-testt></app-testt> -->
<!-- <app-login1></app-login1> -->
<!-- <app-login2></app-login2> -->
<!-- <app-login3></app-login3> -->

<!-- <app-moneytransfer3></app-moneytransfer3> -->
 <!-- <app-sidebar></app-sidebar> -->



 <!-- <app-login1></app-login1>
 <app-login2></app-login2>
 <app-login3></app-login3>

  <app-account1></app-account1>
  <app-account2></app-account2>
  <app-account3></app-account3>
  <app-account4></app-account4> -->


  <!-- <app-helpp></app-helpp> -->
  <!-- <app-errorr></app-errorr> -->

  <router-outlet></router-outlet>

  <!-- <app-moneytransfer3></app-moneytransfer3> -->


