<!-- <div class="page-container">
    <app-nav></app-nav>
    <app-shared-input
  [type]="'text'"
  [placeholder]="'Enter your name'"
  [width]="'300px'">
</app-shared-input>

<app-shared-input
  [type]="'email'"
  [placeholder]="'Enter your email'"
  [width]="'300px'">
</app-shared-input>

  
    <div class="page-content">
        <app-forum></app-forum>
>

    </div>

  </div>
   -->


   <!-- <app-login></app-login> -->
   <!-- <app-forum></app-forum>


   <app-application></app-application>
   <app-start></app-start>
    <app-footer></app-footer>
    <app-smalllogin></app-smalllogin> -->

    <!-- <app-firstpagelogin>
    </app-firstpagelogin>
   -->


    <!-- <app-firstpagelogin></app-firstpagelogin>
    <app-secondpagelogin></app-secondpagelogin>

    <app-thirdpagelogin></app-thirdpagelogin> -->
    <!-- <app-secondpagelogin></app-secondpagelogin>
    <app-thirdpagelogin></app-thirdpagelogin> -->

    <app-testt></app-testt>