<div class="profile-container">
    <div class="profile-title">My Profile</div>
    <div class="balance-frame">
      <div class="balance-amount">10000 EGP</div>
      <div class="balance-label">Balance</div>
    </div>
    <div class="info-frame">
      <div class="info-labels">
        <div class="info-text">First Name :</div>
        <div class="info-text">Email :</div>
        <div class="info-text">Phone :</div>
        <div class="info-text">Gender :</div>
      </div>
      <div class="info-values">
        <div class="info-value">Jonathon Smith</div>
        <div class="info-value">jhonathonsmithgmail.com</div>
        <div class="info-value">+880125412624</div>
        <div class="info-value">Male</div>
      </div>
    </div>
  </div>
  