<app-nav2></app-nav2>
<div class="container">
    <div class="content">
      <div class="text-group">
        <h2 class="heading">Money Transfer</h2>
  
        <ul class="list">
          <li>
            <span class="list-text">Home</span>

          </li>
          <li>
            
            <span class="list-text">About Us</span>
            <span class="dot dot-grey"></span>
          </li>
          <!-- <li class="item">Item</li> -->
          <li class="item-link"><a href="#">Payment</a></li>
          <span class="dot dot-red"></span>
        </ul>
      </div>
  
      <div class="group">
        <img
          src="https://www.smartswift33.com/modules/frontend/img/exchg.png"
          alt="Exchange Image"
        />
      </div>
    </div>
  
    <div class="background-image">
      <img
        src="./WhatsApp Image 2024-09-11 at 10.54.25_91b9a467.jpg"
        alt="Background"
      />
    </div>
  </div>
  
<!-- <app-forum></app-forum> -->
<app-circles></app-circles>

<div class="top-container">
    <!-- First Frame with SVG Icon -->
    <div class="icon-container">
      <div class="icon-layout">
        <svg  width="50" height="44" viewBox="0 0 50 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.46289 22.4029L19.6713 40.8205L46.1819 3.26367" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          
      </div>
    </div>
  
    <!-- Second Frame with Text -->
    <div class="text-container">
      <div class="text-title">Your transfer was successful</div>
      <div class="text-amount">1000 EGP</div>
    </div>
    </div>
<app-testt></app-testt>
<app-application></app-application>
<app-footer></app-footer>
