<nav class="navbar-container">
    <div class="navbar-inner-container">
      <!-- Left side of the navbar -->
      <div class="navbar-left">
        <a href="#" class="navbar-link">
          <span class="navbar-text">Speedo Transfer</span>
        </a>
      </div>
  
      <!-- Right side of the navbar -->
      <div class="navbar-right">
        <!-- Links section -->
        <ul class="navbar-links">
          <li class="navbar-item"><a href="#" class="navbar-item-link">Home</a></li>
          <li class="navbar-item"><a href="#" class="navbar-item-link">Money Transfer</a></li>
          <li class="navbar-item"><a href="#" class="navbar-item-link">My Account</a></li>
          <li class="navbar-item"><a href="#" class="navbar-item-link">Help</a></li>
        </ul>
  
        <!-- Buttons section -->
        <div class="navbar-buttons">
          <button class="btn-login">Login</button>
          <button class="btn-register">Register Now</button>
        </div>
      </div>
    </div>
  </nav>
  
