<nav class="navbar-container">
  <div class="navbar-inner-container">
    <!-- Left side of the navbar -->
    <div class="navbar-left">
      <a href="#" class="navbar-link">
        <span class="navbar-text">Speedo Transfer</span>
      </a>
    </div>

    <!-- Right side of the navbar -->
    <div class="navbar-right">
      <!-- Links section -->
      <ul class="navbar-links">
        <li class="navbar-item"><a 
          routerLink="/" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{
          exact: true
        }"
          class="navbar-item-link">Home</a></li>
        <li class="navbar-item"><a
           routerLink="/moneytransfer1"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{
          exact: true
        }"
           class="navbar-item-link">Money Transfer</a></li>
        <li class="navbar-item"><a 
          routerLink="/myaccount1"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{
          exact: true
        }" class="navbar-item-link">My Account</a></li>
        <li class="navbar-item"><a 
          routerLink="/help"
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{
          exact: true
        }" class="navbar-item-link">Help</a></li>
      </ul>

      <!-- Buttons section -->
      <div class="navbar-buttons">
        <button routerLink="/login1" class="btn-login">Login</button>
        <button routerLink="/register" class="btn-register">Register Now</button>
      </div>
      
      
    </div>
  </div>
</nav>

