<div class="background">
    <!-- Text Container -->
    <div class="text-container">
      <p class="getting-started">Getting started</p>
      <h2 class="lorem">Lorem Ipsum is simply dummy text of the printing.</h2>
    </div>
  
    <!-- Big Frame -->
    <div class="big-frame">
      <!-- First Frame -->
      <div class="frame">
        <div class="circle">
          <img src="https://cdn-icons-png.flaticon.com/512/12111/12111904.png" alt="Circle Image">
        </div>
        <div class="group-one">
            <h3><span class="highlight-number">1.</span> Create Account</h3>
        </div>
        <div class="group-two">
          <p>Adipiscing elit neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p>
        </div>
      </div>
  
      <!-- Second Frame -->
      <div class="frame">
        <div class="circle">
          <img src="https://cdn-icons-png.flaticon.com/256/10930/10930986.png" alt="Circle Image">
        </div>
        <div class="group-one">
            <h3><span class="highlight-number">2.</span> Confirmation</h3>
        </div>
        <div class="group-two">
          <p class="pp">Adipiscing elit neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p>
        </div>
      </div>
  
      <!-- Third Frame -->
      <div class="frame">
        <div class="circle">
          <img src="https://th.bing.com/th/id/OIP.MpyxtvECb_dWZtluL4oxowAAAA?pid=ImgDet&w=120&h=120&c=7&rs=1" alt="Circle Image">
        </div>
        <div class="group-one">
            <h3><span class="highlight-number">3.</span> Payment</h3>
        </div>
        <div class="group-two">
          <p class="pp">Adipiscing elit neque mi diam nim etus arcu porta viverra pretium auctor ut nam sed.</p>
        </div>
      </div>
    </div>
  </div>
  

  