<!-- Parent Container to Center Frame Container -->
<div class="parent-container">
    <div class="frame-container">
      <!-- Frame: Title and Description -->
      <div class="frame">
        <div class="title-container">
          <span class="title-text">{{ titleText }}</span>
        </div>
        <div class="choice">
            <p>Profile</p>
            <span class="profile"><p>Change Password</p></span> 
        </div>

      </div>
  
      <!-- Form Frame: Email, Password Fields, Dropdown, and More Fields -->
      <div class="form-frame">
        <!-- Email Field -->
      
        <!-- Password Field -->
   

        <!-- Three Input Text Fields Side by Side -->
        <div class="three-inputs-row">
          <div class="input-container">
            <span class="input-label">Current password </span>
            <app-shared-input
              type="password"
              placeholder="Type here"
              width="300px"
              backgroundColor="#F3E9EB">
            </app-shared-input>
          </div>
          <div class="input-container">
            <span class="input-label">New password </span>
            <app-shared-input
              type="password"
              placeholder="Type here"
              width="300px"
              backgroundColor="#F3E9EB">
            </app-shared-input>
          </div>

        </div>
  

  
        <!-- Login Button -->
        <app-custom-button
          text="Update Password"
          width="200px"
          backgroundColor="#871E35">
        </app-custom-button>
  
        
      </div>
    </div>
  </div>
  