<nav class="navbar-container">
    <div class="navbar-inner-container">
      <!-- Left side of the navbar -->
      <div class="navbar-left">
        <a href="#" class="navbar-link">
          <span class="navbar-text">Speedo Transfer</span>
        </a>
      </div>
  
      <!-- Right side of the navbar -->
      <div class="navbar-right">
        <!-- Links section -->
        <ul class="navbar-links">
          <li class="navbar-item"><a href="#" class="navbar-item-link">Home</a></li>
          <li class="navbar-item"><a href="#" class="navbar-item-link">Money Transfer</a></li>
          <li class="navbar-item"><a href="#" class="navbar-item-link">My Account</a></li>
          <li class="navbar-item"><a href="#" class="navbar-item-link">Help</a></li>
        </ul>
  
        <div class="container">
            <div class="inner-frame">
              <div class="icon-frame">
                <div class="icon-text">JS</div>
              </div>
              <div class="text">Jonathon Smith</div>
              <div class="icon"> <button style="border: none; cursor: pointer;">
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.99936 5.67219L11.9323 0.732188L13.3503 2.13219L6.99936 8.49219L0.648438 2.13219L2.06641 0.732188L6.99936 5.67219Z" fill="#3C3A37"/>
                </svg>
            </button>
              </div>
            </div>
          </div>
          
          
      </div>
    </div>
  </nav>
  
