<div class="background-section">
    <div class="background-section-content">
    <h2 class="money-transfer-heading">Money Transfer</h2>
  
    <!-- Navigation list -->
    <nav class="nav-list">
      <ul>
        <li><a href="#home" class="nav-item">Home</a></li>
        <li> <span class="circle"></span> <a href="#about-us" class="nav-item">About Us</a></li>
        <li><span class="circlee" ></span> <a href="#amount" class="nav-item" id="Amount">Amount</a></li>
        
      </ul>
    </nav>
  
    <!-- Right Image -->
    <div class="right-image-container">
      <img src="https://www.smartswift33.com/modules/frontend/img/exchg.png" alt="Right Image" class="right-image">
    </div>
</div>
  </div>
  
