<!-- 

<div>
<app-loginnav></app-loginnav>
<app-smalllogin></app-smalllogin>

<app-speedotransferlogin>

    

</app-speedotransferlogin>

</div> -->

<!-- <app-custom-button></app-custom-button>
<app-shared-input></app-shared-input> -->

<!-- merna -->

<!-- <div>
    <app-loginnav></app-loginnav>  
     <app-smalllogin></app-smalllogin>
     <app-speedotransferlogin></app-speedotransferlogin>
  
  </div>
       -->



       <!-- <app-loginnav></app-loginnav>
<app-top-page-one-login></app-top-page-one-login>
<app-smalllogin>
    [titleText]="'Welcome back'"
    [descriptionText]="'Login to your account'"
    [emailLabel]="'Your email address'"
    [passwordLabel]="'Your password'"
    [accountText]="''"
    [createAccountText]="''">
  </app-smalllogin>  -->


<!-- 
  <app-speedotransferlogin> </app-speedotransferlogin> -->
  

  <app-smalllogin>
  </app-smalllogin> 

  