<app-nav></app-nav>
<div class="container">
    <div class="content">
      <div class="text-group">
        <h2 class="heading">Help</h2>
  
        <ul class="list">
  
          <li>
            
            <span class="list-text">Home</span>
            <!-- <span class="dot dot-grey"></span> -->
          </li>
          <!-- <li class="item">Item</li> -->
          <li class="item-link"><a href="#">Help</a></li>
          <!-- <span class="dot dot-red"></span> -->
        </ul>
      </div>
  
      <div class="group">
        <img
          src="https://www.smartswift33.com/modules/frontend/img/exchg.png"
          alt="Exchange Image"
        />
      </div>
    </div>
  
    <div class="background-image">
      <img
        src="./WhatsApp Image 2024-09-11 at 10.54.25_91b9a467.jpg"
        alt="Background"
      />
    </div>
  </div>
<app-helppage></app-helppage>
<app-footer></app-footer>