<div class="main-container">
  <!-- Upper Part -->
    <div class="upper-part">
      <!-- First Frame (Top Left) -->
      <div class="first-frame">
        <span class="header-text">Speedo Transfer</span>
      </div>
      
      <!-- Second Frame (Top Right) -->
      <div class="second-frame">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.51562 22.4876L12.0016 12.0016L22.4876 22.4876M22.4876 1.51562L11.9996 12.0016L1.51562 1.51562" stroke="#24221E" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>


    
  

  </div>



  