
<div class="container">
<h2 class="need-help-heading">Need Help?</h2>

<!-- Paragraph -->
<p class="help-paragraph">
  Lorem Ipsum is simply dummy text of the printing and <br> typesetting industry.
</p>

<!-- Contact Frame with sections beside each other -->
<div class="contact-frame">
  <!-- Send Email Frame -->
  <div class="email-frame">
    <div class="icon-group">
      <div class="icon-background">
        <img src="https://www.sealcoveinn.com/assets/A/themes/sealcoveinn/img/message.png" class="email-icon" alt="Email Icon">
      </div>
      <p class="frame-text">Send Email</p>
    </div>
  </div>
  
  <!-- Call Us Frame -->
  <div class="call-frame">
    <div class="icon-group">
      <div class="icon-background">
        <img src="https://deleum.com/images/contact-us/phone-logo.png" class="call-icon" alt="Call Icon">
      </div>
      <p class="frame-text">Call Us</p>
      <p class="number">000000</p>
    </div>
  </div>
</div>

</div>